html {
	background-color: #EDF2C5;
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit
}


body {
	font-family: 'Noto Sans', sans-serif;
}

.container {
	max-width: 1122px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EDF2C5;
}

/* Header Style */
.header {
    width: 100%;
    height: 62px;
	margin-top: 36px;
	margin-left: auto;
	margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
	color: #778A50;
	margin: 0;
	font-size: 44px;
	font-weight: 900;
}

.btn_gp{
	display: flex;
    width: 208px;
    justify-content: space-between;
	align-self: center;
	align-items: center;
}

.btn_fb,
.btn_ig {
	width: 24px;
	height: 24px;
}

.btn_login,
.btn_join {
	width: max-content;
	left: 83px;
	border: 1px solid #778A50;
	padding: 4px 8px 4px 8px;
	border-radius: 3px;
	color: #778A50;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
}

.line{
	height: 24px;
	border-right: 1px solid #778A50;
}

/* Navitation Bar Style */
.nav {
	width: 100%;
	height: 44px;
	border-radius: 3px;
    background-color: #778A50;
	padding-left: 30px;
	padding-top: 10px;
	margin-top: 10px;
}

.nav-list {
	width: 100%;
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
}

.nav-list-item {
	height: 24px;
	display: inline;
	width: fit-content;
	font-size: 16px;
	font-weight: 900;
	line-height: 24px;
	text-align: left;
	margin-right: 50px;

}

.nav-list-item-link {
	color: #EDF2C5;
	text-decoration: none;
}


/* Main-Area Style */
.main-area {
    width: 100%;
	height: 681px;
}

.box_main_content {
	margin-top: 20px;
	width: 1120px;
	height: 448px;
}

.content {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.box_vegetables,
.box_contact {
	width: 528px;
	height: 201px;
}

.box_title{
	height: 45px;
	display: flex;
	background-color: #778A50;
	color: #EDF2C5;
	font-size: 16px;
	font-weight: 900;
	padding-left: 30px;
	border-radius: 3px;
}

.box_title p {
	align-self: center;
}

.img_other_group {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.img_other_group_item {
	width: 165px;
	height: 140px;
}

.box_contact_text {
	width: 528px;
	height: 140px;
	margin-top: 20px;
	padding: 16px;
	background-color: #F7FBDA;
	color: #7D7D7D;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.box_contact_text p {
	margin: 0;
}

.box_contact_line {
	width: 496px;
	height: 0px;
	border: 0.5px solid #7D7D7D;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Footer */
.footer {
    height: 60px;
	width: 100%;
	line-height: 60px;
    margin-top: 60px;
    background-color: #778A50;
	color: #EDF2C5;
	border-radius: 3px;
	text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 100px;
}
